<span><div class="ProfileHeader-info">
    <div class="ProfileHeader-infoItem">
        <div class="ProfileHeader-iconWrapper">
        <svg viewbox="0 0 20 18" class="Icon Icon--company" style="height:16px;width:13px;" width="13" height="16" aria-hidden="true"><title/><g><path d="M15 3.998v-2C14.86.89 13.98 0 13 0H7C5.822 0 5.016.89 5 2v2l-3.02-.002c-1.098 0-1.97.89-1.97 2L0 16c0 1.11.882 2 1.98 2h16.033c1.1 0 1.98-.89 1.987-2V6c-.007-1.113-.884-2.002-1.982-2.002H15zM7 4V2.5s-.004-.5.5-.5h5c.5 0 .5.5.5.5V4H7z"/></g></svg>
        </div>&#x4E92;&#x8054;&#x7F51;<div
        class="ProfileHeader-divider"></div>XX&#x79D1;&#x6280;&#x6709;&#x9650;&#x516C;&#x53F8;<div
        class="ProfileHeader-divider"></div>coder</div><div class="ProfileHeader-infoItem"><div
        class="ProfileHeader-iconWrapper">
    <svg viewbox="0 0 22 16" class="Icon Icon--education"
                                               style="height:16px;width:16px;" width="16" height="16"
                                               aria-hidden="true"><title/><g><path d="M11 0L0 3.94v.588l4.153 2.73v5.166C4.158 12.758 7.028 16 11 16c3.972 0 6.808-3.116 6.85-3.576l.006-5.163 4.13-2.732.014-.586L11 0z"/></g>
</svg></div>&#x4E94;&#x9091;&#x5927;&#x5B66;<div
        class="ProfileHeader-divider"></div>&#x8BA1;&#x7B97;&#x673A;&#x79D1;&#x5B66;&#x4E0E;&#x6280;&#x672F;&#x4E13;&#x4E1A;&#x5B66;&#x751F;</div></div></span>
